<div class="row" data-ng-controller="MeCtrl">
    <div class="page-header text-center"><strong>个人信息</strong></div>
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible text-center" role="alert" ng-if="error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{error}}</strong>
        </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                <p>{{myDetails.data.email}}</p>
                <p>{{myDetails.data.password}}</p>
            </div>
        </div>
    </div>
</div>