<div class="row">
    <div class="col-md-3"><b>主题：</b></div>
    <div class="col-md-9">{{message.subject}}</div>

    <div class="col-md-3"><b>发件人：</b></div>
    <div class="col-md-9">{{message.sender}}</div>

    <div class="col-md-3"><b>发送时间：</b></div>
    <div class="col-md-9">{{message.date}}</div>
    <br>
    <div class="col-md-12">接收人：</div>
    <div class="row text-center">
      <span class="well-sm" ng-repeat="name in message.recipients">{{name}},</span>
    </div>
    <div class="col-md-12">{{message.content}}</div>
    <div class="row">
        <a href="#/" class="btn btn-success pull-right">返回列表</a>
    </div>
</div>










