<div class="row">
    <div id="starttime_main" class="control-group">
        <label class="control-label" for="starttime">开始时间：</label>
        <div class="date form_datetime controls" data-date="2016-06-06"  id="starttimeDiv">
            <input type="text" class="span9" value="" id="starttime" readonly>
        <span class="add-on">
         <i class="icon-calendar"></i>
        </span>
        </div>
    </div>
    <div id="endtime_main" class="control-group">
        <label class="control-label" for="endtime">结束时间：</label>
        <div class=" controls date form_datetime" data-date="2016-06-10"  id="endtimeDiv">
            <input type="text" class="span9" value="" id="endtime" readonly> <span class="add-on"><i class="icon-calendar"></i> </span>
        </div>
    </div>
</div>