<hr/>
<h3>电影列表</h3>
<div ng-include="'views/common/alert.html'"></div>
<h5 class="text-center" style="color:tomato;">{{appname}}</h5>
<div class="row">
        <div class="col-md-3 text-center" ng-repeat="movie in movieList">
            <a href="#/movieDetail/{{$index}}">
                <p><img ng-src="{{movie.thumb}}"  alt="{{movie.title}}" style="display: block;width:100%;"></p>
            </a>
            <p>{{movie.title}}</p>
            <p>{{movie.desc}}</p>
        </div>
</div>
<div ng-include="'views/common/footer.html'"></div>